<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="class1" class="pl.pjatk.krzszy.domain.Class1"/>

    <bean id="class2" class="pl.pjatk.krzszy.domain.Class2">
        <constructor-arg index="0" ref="class1"/>
    </bean>

    <bean id="class3" class="pl.pjatk.krzszy.domain.Class3">
    </bean>

</beans>